@import url("./fonts.css");
body {
  margin: 0;
  font-family: "arial-regular";
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.title {
  font-family: "georgia-regular";
  font-size: 35px;
  font-weight: normal;
  margin: 0;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.title-3 {
  font-family: "georgia-regular";
  font-size: 20px;
  font-weight: normal;
  margin: 0;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}

.heading-2 {
  text-align: center;
  margin: 0;
  font-family: "georgia-regular";
  font-weight: normal;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #545454;
}

.heading-2_white {
  color: #ffffff;
}

.text {
  font-family: "arial-regular";
  font-size: 15px;
  line-height: 160%;
  color: #4c4c4c;
  margin: 0;
}

.button {
  padding: 13px 43px;
  border-radius: 100px;
  background: #f1cdb3;
  font-family: "georgia-regular";
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  border: 2px solid #f1cdb3;
  outline: none;
  cursor: pointer;
  -webkit-transition: border-color 0.3s, background-color 0.3s;
  transition: border-color 0.3s, background-color 0.3s;
}

.button:hover {
  background: #fddcc4;
  border-color: #fddcc4;
}

.button_white {
  background-color: #fff;
}

.header {
  padding: 60px 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  color: black;
  text-decoration: none;
  text-align: center;
}

.logo__heading {
  font-family: "georgia-regular";
  font-size: 32px;
  letter-spacing: 2px;
  font-weight: 400;
  color: #f1cdb3;
  margin: 0 0 9px 0;
}

.logo__subtitle {
  font-size: 13px;
  letter-spacing: 1.3px;
  color: #ffffff;
  margin: 0;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 0 2px 4px 0px;
  padding: 0;
}

.nav__items {
  margin-left: 35px;
}

.nav__items:first-child {
  margin-left: 0;
}

.nav__links {
  color: #cdcdcd;
  text-decoration: none;
  font-size: 15px;
  position: relative;
}

.nav__links::after {
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  background: #f1cdb3;
  position: absolute;
  top: 20px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav__links:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav__links:hover {
  color: #fafafa;
}

.gratitude {
  background-image: url("../../assets/images/gratitude-background.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
}

.gratitude__inner {
  position: relative;
  padding: 343px 0 244px 0;
}

.gratitude__heading {
  margin: 0px 0 42px 0;
  font-family: "georgia-regular";
  font-size: 44px;
  font-weight: 400;
  line-height: 57px;
  color: #ffffff;
  width: 310px;
}

.gratitude__subtitle {
  width: 460px;
  color: #cdcdcd;
  margin: 0 0 42px 0;
}

.gratitude__img {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.about__inner {
  margin: 80px 175px 100px 175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__img {
  margin: 0 120px 0 0;
}

.about__information {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about__title {
  margin: 0 0 25px 0;
}

.about__text {
  margin: 0 0 25px 0;
}

.about__text:last-child {
  margin: 0;
}

.pets {
  padding: 80px 0 100px 0;
  background-color: #f6f6f6;
}

.pets__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pets__title {
  text-align: center;
  margin: 0 0 60px 0;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 60px 60px 60px;
}

.slider__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 53px;
}

.slider__elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 90px;
}

.slider__elements:first-child {
  margin-left: 0;
}

.slider__pets-names {
  margin: 30px 0 31px;
}

.slider__inner-btn {
  margin: 0 0 30px 0;
}

.slider__next {
  padding: 13px 17px;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.slider__prev {
  padding: 13px 17px;
}

.help-info {
  padding: 80px 0 100px;
}

.help-info__title {
  text-align: center;
  margin-bottom: 60px;
}

.help-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  max-width: 1040px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.help-list__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 120px;
}

.help-list__items:nth-child(1) {
  margin-bottom: 55px;
}

.help-list__items:first-child {
  margin-left: 0;
}

.help-list__items:nth-child(6) {
  margin-left: 84px;
}

.help-list__img {
  margin-bottom: 30px;
}

.help-list__name {
  margin: 0;
  font-family: "georgia-regular";
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545455;
}

.donation {
  padding: 81px 0 101px 0;
  background-color: #f6f6f6;
}

.donation__inner {
  width: 915px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.donation__info {
  margin-left: 30px;
}

.donation__img {
  height: 261px;
}

.donation__card-info {
  font-family: "georgia-regular";
  font-style: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 20px 0;
}

.donation__btn {
  border-radius: 9px;
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.donation__btn-img {
  margin-right: 15px;
}

.donation__btn-text {
  font-family: "georgia-regular";
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

.donation__text {
  font-family: "arial-regular";
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  color: #b2b2b2;
}

.contacts {
  margin: 0 160px 0 0;
}

.contacts__title {
  text-align: left;
}

.contacts__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contacts__list-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 42px 0 44px 0;
}

.contacts__list-links {
  text-decoration: none;
  margin: 0 0 0 20px;
  font-family: "georgia-regular";
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

.address__title {
  text-align: left;
}

.address__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.address__list-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 33px 0;
}

.address__list-links {
  text-decoration: none;
  margin: 0 0 0 20px;
  font-family: "georgia-regular";
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

.footer {
  background-image: url(../../assets/images/footer-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 40px 0 0 0;
}

.footer__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 0 17px 0;
}

.footer__img {
  position: absolute;
  right: 0;
  bottom: 0;
}
